<!DOCTYPE html>
<html>
  <head>
    <title><%= titl %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/createData">
      <input type="text" name="name" placeholder="Name"> <br><br>
      <input type="number" name="age" placeholder="Age"><br><br>
      <input type="email" name="email" placeholder="Email"><br><br>
      <button type="submit">Submit</button><br><br>
    </form>
    <table  border="4">
      <tr>
        <th>Id</th>
        <th>Name</th>y
        <th>Number</th>
        <th>Email</th>
        <th>Delete</th>
        <th>Update</th>
      </tr>
    </table>
    
  </body>
</html>
