<form action="/createData">
    <input type="text" name="name" placeholder="name">
    <input type="email" name="email" placeholder="email">
    <input type="password" name="password" placeholder="password">
    <input type="number" name="salary" placeholder="salary">
    <button type="submit"> submit</button>
</form>